
body{
    background: linear-gradient(35deg, white , violet 10%, darkviolet 100%);
    background-size: 300% 300%;
    animation: anima 5s infinite alternate;
}

.container{
    width: 40vh;
    height: 50vh;
    margin-top: 30vh;
    border: #8953f2 solid 0.2vh;
    border-radius: 1vh;


}
.a{
    margin-top: 10vh;
}

.btn {
    margin-left: 14vh;
}
.form-check{
    margin-top: 2vh;
    margin-left: 8vh;
}

@keyframes anima{
    0%{
        background-position-x: 0%;
    }
    
    50%{
        background-position-x: 60%;
    }
    
    100%{
        background-position-x: 100%;
    }
}